<!DOCTYPE HTML>

<html>
	<head>
		<title>Keshav Maheshwari's Personal Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
							<header id="header">
								<a href="/" class="logo"><strong>Keshav Maheshwari's Personal Website</strong></a>
								<ul class="icons">
										<li><a href="https://github.com/keshavm02" class="fab fa-github fa-2x"><span class=" a label"></span></a></li>
										<li><a href="https://www.linkedin.com/in/keshavm02/" class="fab fa-linkedin fa-2x"><span class="a label"></span></a></li>
								</ul>
							  </header>
			  
                              <!-- Content -->
								<section>
                                    
									<header class="main">
										<h1>Keshav's Blog</h1>
									</header>

                                   
                                <p><span class="image left"><img src="images/bullfrogs.jpg" alt="" /></span>
                                    <h2>The Meaning of Life (03/14/2019)</h2>
																		Thank you for your interest! To the left is a picture of my team members and I at HackHaverhill with our huge 
																		check prize.
                                    <span>
                                        <br>
                                        <br>
																				But anyway, the meaning of life excites me, and sometimes depresses me. After dozens of existential crises,
																				that usually occur after a breakup, I got obsessed with realizing the true nature of life and why we 
																				continue to live it like it's simply a gift from god. Just to clear things out, I'm not religious at all.
																				But after diving in deep with existential books and spirituality gurus, primarily Rick and Morty, I 
																				came to the hard conclusion that life is meaningless and we do not have a purpose here, purpose is just 
																				something humans create to satisfy their ego and feel important. If you are curious about how I got to this 
																				conclusion, click <a href="/books">here</a> to jump to my books page for flipping through the 
																				existential pages so you can feel empty as well.
																				<br>
																				<br>
																				You might be wondering, if life is meaningless, then what is my drive to do anything? I say in my bio that
																				I am a very motivated individual, but how? Well, it's simple. If life is meaningless, I am just going 
																				to derive my own meaning from it through whatever satisfies my limbic system and lights up my 
																				amygdala. Because if I'm not having fun doing what am I doing, why am I doing it? It is meaningless anyway.
																				<br><b>I cannot emphasize enough how important having fun is.</b>
                                    </span>
								</p>
								


								<p><span class="image left"><img src="images/car.jpg" alt="" /></span>
                                    <h2>The Updated Meaning of Life (08/07/2019)</h2>
                                    <span>
																				After spending much time in existential dread and a nihilistic frame 
																				I've come to realize that life is extremely meaningful and not what i 
																				made it out to be in my previous blog post.
																				<br>
																				<br>
																				I have understood that without meaning living a life can be worthless, and 
																				every human, especially men, must seek out their own purpose and how they 
																				would present the world with their own gifts. The sooner a man can realize this, 
																				the sooner he can align every thing else in life to the core mission. Without the 
																				mission, there is little in life that is of value, and hence most people today 
																				choose to blame the "system" for their struggle- which is not even real struggle 
																				since they live better lives than a king did 200 years ago.
																				<br>
																				<br>
																				The sooner we realize what we must serve, the sooner we can live a life of 
																				meaningful contribution. A wise man once said: <br>
																				<b>Existentialism and nihilism are for sloths.</b>
																				I see the truth in that statement now more than ever.
                                    </span>
								</p>
								

                                </section>
													
			  
						  </div>
						</div>
			  
					  <!-- Sidebar -->
						<div id="sidebar">
						  <div class="inner">
							<br>
							<br>
							<br>
							<!-- Menu -->
							  <nav id="menu">
								<header class="major">
								  <h2>Menu</h2>
								</header>
								<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="/blog">My Blog</a></li>
										<li><a href="/books">Books</a></li>
										<li><a href="/resume">Resume</a></li>
								</ul>
                             </nav>
			  
						  </div>
						  <a href="#sidebar" class="toggle"></a>
						</div>
			  
					</div>
			  

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>