<!DOCTYPE HTML>

<html>
	<head>
		<title>Elizabeth Slade's Personal Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
							<header id="header">
								<a href="/" class="logo"><strong>Elizabeth Slade's Personal Website</strong></a>
								<ul class="icons">
										<li><a href="https://github.com/emslade23" class="fab fa-github fa-2x"><span class=" a label"></span></a></li>
										<li><a href="https://www.linkedin.com/in/elizabeth-slade-86670b122/" class="fab fa-linkedin fa-2x"><span class="a label"></span></a></li>
								</ul>
							  </header>
			  
                              <!-- Content -->
								<section>
                                    
									<header class="main">
										<h1>Lizzy's Blog</h1>
									</header>

                                   
                                <p><span class="image left"><img src="images/me2.jpg" alt="" /></span>
                                    <h2>Let's talk tech (1/6/2019)</h2>
                                    Thank you for your interest! To the left is a picture of my roommates and I.
                                    <span>
                                        <br>
                                        <br>
                                        But anyways, the potential of technology excites me. I am particularly interested in using virtual reality 
                                        and augmented reality for educational and mental health purposes. Since VR is immersive, studies have shown that children
                                        learn better. This makes sense as 3D learning makes the material come alive. Also, VR will give people who don't have the 
                                        financial opportunity to travel, the means to do so virtually. One day VR will become so realistic that we won't even
                                        know the difference.
                                    </span>
                                </p>
                                </section>
													
			  
						  </div>
						</div>
			  
					  <!-- Sidebar -->
						<div id="sidebar">
						  <div class="inner">
							<br>
							<br>
							<br>
							<!-- Menu -->
							  <nav id="menu">
								<header class="major">
								  <h2>Menu</h2>
								</header>
								<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="/blog">My Blog</a></li>
										<li><a href="/personalproj">Personal Projects</a></li>
										<li><a href="/teamproj">Team Projects</a></li>
										<li><a href="/resume">Resume</a></li>
										<li><a href="/contact">Contact</a></li>
								</ul>
                             </nav>
			  
						  </div>
						  <a href="#sidebar" class="toggle"></a>
						</div>
			  
					</div>
			  

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>