<!DOCTYPE HTML>

<html>
	<head>
		<title>Keshav Maheshwari's Personal Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
							<header id="header">
								<a href="/" class="logo"><strong>Keshav Maheshwari's Personal Website</strong></a>
								<ul class="icons">
										<li><a href="https://github.com/keshavm02" class="fab fa-github fa-2x"><span class=" a label"></span></a></li>
										<li><a href="https://www.linkedin.com/in/keshavm02/" class="fab fa-linkedin fa-2x"><span class="a label"></span></a></li>
								</ul>
							  </header>
			  
								<!-- Banner -->
							  <section id="banner">
									<div class="content">
										<header>
																			<h1>Books that changed my life<br/></h1>
																			<p>Software</p>
										</header>
											<dl>
												<dt>AR Clue</dt>
												<dd>
													<p>I am currently developing a react native application. The app will be the game of clue using augmented reality.</p>
												</dd>
												<dt>Astronaut Game</dt>
												<dd>
													<p>
														I built an old fashion astronaut game in C++. It involved object oriented programming, polymorphism, 
														inheritance and dynamic memory allocation. The premise of the game is to maximize the number of moonstones
														that the astronaut gets while making sure that he has enough oxygen. Astronauts and aliens can be created
														during runtime of the game. 
													</p>
												</dd>
											</dl>
										</div>
									</section>
			  
						  </div>
						</div>
			  
					  <!-- Sidebar -->
						<div id="sidebar">
						  <div class="inner">
							<br>
							<br>
							<br>
							<!-- Menu -->
							  <nav id="menu">
								<header class="major">
								  <h2>Menu</h2>
								</header>
								<ul>
									<li><a href="/">Homepage</a></li>
								  <li><a href="/blog">My Blog</a></li>
								  <li><a href="/personalproj">Personal Projects</a></li>
                  <li><a href="/teamproj">Team Projects</a></li>
                  <li><a href="/resume">Resume</a></li>
								  <li><a href="/contact">Contact</a></li>
			  
								</ul>
                             </nav>
			  
						  </div>
						  <a href="#sidebar" class="toggle"></a>
						</div>
			  
					</div>
			  

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>