<!DOCTYPE HTML>

<html>
	<head>
		<title>Keshav Maheshwari's Personal Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
							<header id="header">
								<a href="/" class="logo"><strong>Keshav Maheshwari's Personal Website</strong></a>
								<ul class="icons">
										<li><a href="https://github.com/keshavm02" class="fab fa-github fa-2x"><span class=" a label"></span></a></li>
										<li><a href="https://www.linkedin.com/in/keshavm02/" class="fab fa-linkedin fa-2x"><span class="a label"></span></a></li>
								</ul>
							  </header>
			  
								<!-- Banner -->
								<section>
										<header class="major">
												<h2>Books that changed my life</h2>
											</header>
												  <div class="posts">
												<article>
												  <a href="#" class="image"><img src="/images/musk.jpg" alt="" /></a>
												  <h3>Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future <font size="2"> <br>-Ashlee Vance</font></h3>
												</article>
												<article>
												  <a href="#" class="image"><img src="/images/zerotoone.jpg" alt="" /></a>
												  <h3>Zero to One <font size="2"> <br>-Peter Thiel</font></h3>
												</article>
												<article>
												  <a href="#" class="image"><img src="/images/trump.jpg" alt="" /></a>
												  <h3>Trump: The Art of the Deal <font size="2"> <br>-Donald J. Trump</font></h3>
												</article>
												<article>
													<a href="#" class="image"><img src="/images/algorithms.jpg" alt="" /></a>
													<h3>Algorithms to Live By: The Computer Science of Human Decisions <font size="2"> <br>-Brian Christian & Tom Griffiths</font></h3>
												  </article>
												  <article>
														<a href="#" class="image"><img src="/images/outliers.jpg" alt="" /></a>
														<h3>Outliers <font size="2"> <br>-Malcolm Gladwell</font></h3>
														</article>
														<article>
														<a href="#" class="image"><img src="/images/nomoremrniceguy.jpg" alt="" /></a>
														<h3>No More Mr. Nice Guy <font size="2"> <br>-Dr. Rober A. Glover</font></h3>
														</article>
														<article>
														<a href="#" class="image"><img src="/images/howtowinfriends.jpg" alt="" /></a>
														<h3>How to Win Friends and Influence People <font size="2"> <br>-Dale Carnegie</font></h3>
														</article>
														<article>
															<a href="#" class="image"><img src="/images/algorithms.jpg" alt="" /></a>
															<h3>Algorithms to Live By: The Computer Science of Human Decisions <font size="2"> <br>-Brian Christian & Tom Griffiths</font></h3>
														</article>
														<article>
															<a href="#" class="image"><img src="/images/hitch.jpg" alt="" /></a>
															<h3>The Hitchhiker's Guide to the Galaxy <font size="2"> <br>-Douglas Adams</font></h3>
														</article>
											  </div>
										</section>
							  <!-- <section>
										<header class="major">
																			<h1>Books that changed my life<br/></h1>
										</header>
										<div class="posts">
												<article>
												<a href="#" class="image"><img src="/images/outliers.jpg" alt="" /></a>
												<h3 align="center">Outliers <font size="2"> <br>-Malcolm Gladwell</font></h3>
												</article>
												<article>
												<a href="#" class="image"><img src="/images/nomoremrniceguy.jpg" alt="" /></a>
												<h3>No More Mr. Nice Guy <font size="2"> <br>-Dr. Rober A. Glover</font></h3>
												</article>
												<article>
												<a href="#" class="image"><img src="/images/trump.jpg" alt="" /></a>
												<h3>Trump: The Art of the Deal <font size="2"> <br>-Donald J. Trump</font></h3>
												</article>
												<article>
													<a href="#" class="image"><img src="/images/algorithms.jpg" alt="" /></a>
													<h3>Algorithms to Live By: The Computer Science of Human Decisions <font size="2"> <br>-Brian Christian & Tom Griffiths</font></h3>
												</article>
											</div>
										</div>
									</section> -->
			  
						  </div>
						</div>
			  
					  <!-- Sidebar -->
						<div id="sidebar">
						  <div class="inner">
							<br>
							<br>
							<br>
							<!-- Menu -->
							  <nav id="menu">
								<header class="major">
								  <h2>Menu</h2>
								</header>
								<ul>
									<li><a href="/">Homepage</a></li>
									<li><a href="/resume">Resume</a></li>
								  <li><a href="/blog">My Blog</a></li>
								  <li><a href="/books">Books</a></li>
			  
								</ul>
                             </nav>
			  
						  </div>
						  <a href="#sidebar" class="toggle"></a>
						</div>
			  
					</div>
			  

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>