<!DOCTYPE HTML>

<html>
	<head>
		<title>Keshav Maheshwari's Personal Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
							<header id="header">
								<a href="/" class="logo"><strong>Keshav Maheshwari's Personal Website</strong></a>
								<ul class="icons">
										<li><a href="https://github.com/keshavm02" class="fab fa-github fa-2x"><span class=" a label"></span></a></li>
										<li><a href="https://www.linkedin.com/in/keshavm02/" class="fab fa-linkedin fa-2x"><span class="a label"></span></a></li>
								</ul>
							  </header>
			  
							<!-- Banner -->
							  <section id="banner">
								<div class="content">
								  <header>
									<h1>Hi, I’m Keshav <br /></h1>
									<p>Pursuing <b>Computer Science</b> and <b>Physics</b> at Boston University 🐾</p>
								  </header>
								  <p>
											I am an aspiring entrepreneur passionate about working on ideas that would change our lives in the 
											long-term and make our future more exciting. I am particularly interested in technology/space/hardware (anything 
											to build, basically) but I am open to working for anything that improves the odds of humanity surviving the 
											numerous threats (AI, climate change, natural extinction, etc). I am also known to have a unique (unconventional) 
											perspective on most issues, but almost always, I prove that my perspective is the most accurate. Solving a 
											challenging yet an important problem becomes an obsession for me, and I am proud of that. I can sometimes be very
											controversial but that comes hand-in-hand with my huge appetite to have fun at every moment.
											<br><br>
											Reach out to me if you're open to being roommates on Mars!!!
									 </p>
								  <ul class="actions">
									<li><a href="/blog" class="button big">Learn More</a></li>
								  </ul>
								</div>
								<span class="image object">
									<img src="/images/me.png" alt="" />
								</span>
							  </section>
			  
							<!-- Section -->
							  <!-- <section>
								<header class="major">
								  <h2>Hack4Impact Articles 
									</h2>
								</header>
								<p>I am Co-Director of Hack4Impact at Boston University. Hack4Impact is a national organization 
									dedicated to building software for nonprofits. Here are some articles where we are featured.</p>
								<div class="features">
								  <article>
									<span class="icon fa-diamond"></span>
									<div class="content">
									  <a href="https://dailyfreepress.com/blog/2018/02/14/hack4impact-aims-to-use-technology-skills-for-social-impact/">Daily Free Press</a>
									  <p>Daily Free Press is a Boston University newspaper that publishes news in the university.</p>
									</div>
								  </article>
								  <article>
									<span class="icon fa-paper-plane"></span>
									<div class="content">
									  <a href="http://blog.freedomcollaborative.org/post/177685941242/hack4impact-connects-student-developers-with-ngos">Freedom Collaborative Newsletter</a>
									  <p>Freedom Collaborative is an umbrella organization of many smaller nonprofits that help to fight human trafficking. </p>
									</div>
								  </article>
								</div>
							  </section>
			   -->
							<!-- Section -->
							  <section>
								<header class="major">
								  <h2>Favorite Books</h2>
								</header>
								<div class="posts">
								  <article>
									<a href="#" class="image"><img src="/images/musk.jpg" alt="" /></a>
									<h3>Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future <font size="2"> <br>-Ashlee Vance</font></h3>
								  </article>
								  <article>
									<a href="#" class="image"><img src="/images/zerotoone.jpg" alt="" /></a>
									<h3>Zero to One <font size="2"> <br>-Peter Thiel</font></h3>
								  </article>
								  <article>
									<a href="#" class="image"><img src="/images/trump.jpg" alt="" /></a>
									<h3>Trump: The Art of the Deal <font size="2"> <br>-Donald J. Trump</font></h3>
								  </article>
								  <article>
									  <a href="#" class="image"><img src="/images/algorithms.jpg" alt="" /></a>
									  <h3>Algorithms to Live By: The Computer Science of Human Decisions <font size="2"> <br>-Brian Christian & Tom Griffiths</font></h3>
									</article>
								</div>
							  </section>
			  
						  </div>
						</div>
			  
					  <!-- Sidebar -->
						<div id="sidebar">
						  <div class="inner">
							<br>
							<br>
							<br>
							<!-- Menu -->
							  <nav id="menu">
								<header class="major">
								  <h2>Menu</h2>
								</header>
								<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="/blog">My Blog</a></li>
										<li><a href="/books"> Books</a></li>
										<li><a href="/teamproj">Team Projects</a></li>
										<li><a href="/resume">Resume</a></li>
										<li><a href="/contact">Contact</a></li>
			  
								</ul>
							  </nav>
			  
							<!-- Section -->
							  <section>
								<header class="major">
								  <h2>Food for Thought</h2>
								</header>
								<div class="mini-posts">
								  <article>
									<p>"When something is important enough, you do it even if the odds are not in your favor." - Elon Musk</p>
								  </article>
								  <article>
									<p>"I think it is possible for ordinary people to choose to be extraordinary." - Elon Musk</p>
								  </article>
								  <article>
									<p>"No dream is too big. No challenge is too great. Nothing we want for our future is beyond our reach." – Donald Trump</p>
									</article>
									<article>
											<p>"I think it's very important to have a feedback loop, where you're constantly thinking about what you've 
												done and how you could be doing it better." – Elon Musk</p>
									</article>
								</div>
								<ul class="actions">
								  <li><a href="/blog" class="button">More</a></li>
								</ul>
							  </section>
			  
							<!-- Section -->
							  <section>
								<header class="major">
								  <h2>Get in touch</h2>
								</header>
								<ul class="contact">
								  <li class="fa-envelope-o"><a href="#">km02@bu.edu </a></li>
								  <li class="fa-envelope-o"><a href="#">keshavm02@gmail.com </a></li>
								  <li class="fa-home">Boston, MA</li>
								</ul>
							  </section>
			  
						  </div>
						  <a href="#sidebar" class="toggle"></a>
						</div>
			  
					</div>
			  

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>