<!DOCTYPE HTML>

<html>
	<head>
		<title>Elizabeth Slade's Personal Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
							<header id="header">
								<a href="#" class="logo"><strong>Elizabeth Slade's Personal Website</strong></a>
								<ul class="icons">
										<li><a href="https://github.com/emslade23" class="fab fa-github fa-2x"><span class=" a label"></span></a></li>
										<li><a href="https://www.linkedin.com/in/elizabeth-slade-86670b122/" class="fab fa-linkedin fa-2x"><span class="a label"></span></a></li>
								</ul>
							  </header>
			  
							<!-- Banner -->
							  <section id="banner">
								<div class="content">
								  <header>
									<h1>Hi, I’m Lizzy <br /></h1>
									<p>Computer Engineer at Boston University</p>
								  </header>
								  <p>In life, it's important to find work that excites you and people that motivate you. As the daughter of an engineer 
									and a nurse, I was taught the importance of helping others throughout my childhood. After much reflection and learning,
									 I realized that building software products is one of the best ways to positively impact the most amount of people. It is
									  my mission to lead software projects that will improve the lives of others in a meaningful way. I love learning
									  about how the mind works from evolutionary, psychology, behavioral and spiritual perspectives. I also enjoy 
									  learning about how new technology works and using that technology to build useful projects. Check out my pages! 
									 </p>
								  <ul class="actions">
									<li><a href="#" class="button big">Learn More</a></li>
								  </ul>
								</div>
								<span class="image object">
									<img src="/images/me.png" alt="" />
								</span>
							  </section>
			  
							<!-- Section -->
							  <section>
								<header class="major">
								  <h2>Some of My Articles</h2>
								</header>
								<div class="features">
								  <article>
									<span class="icon fa-diamond"></span>
									<div class="content">
									  <h3>How to live mindfully</h3>
									  <p></p>
									</div>
								  </article>
								  <article>
									<span class="icon fa-paper-plane"></span>
									<div class="content">
									  <h3>Future with AI</h3>
									  <p></p>
									</div>
								  </article>
								</div>
							  </section>
			  
							<!-- Section -->
							  <section>
								<header class="major">
								  <h2>Favorite Books</h2>
								</header>
								<div class="posts">
								  <article>
									<a href="#" class="image"><img src="/images/think.jpg" alt="" /></a>
									<h3>Thinking Fast and Slow by Daniel Kahneman </h3>
								  </article>
								  <article>
									<a href="#" class="image"><img src="/images/wakingup.jpg" alt="" /></a>
									<h3>Waking up by Sam Harris</h3>
								  </article>
								  <article>
									<a href="#" class="image"><img src="/images/robert.jpg" alt="" /></a>
									<h3>Behave by Robert Sapolsky</h3>
								  </article>
								  <article>
									  <a href="#" class="image"><img src="/images/leanin.jpg" alt="" /></a>
									  <h3>Lean In by Sheryl Sandberg</h3>
									</article>
								</div>
							  </section>
			  
						  </div>
						</div>
			  
					  <!-- Sidebar -->
						<div id="sidebar">
						  <div class="inner">
							<br>
							<br>
							<br>
							<!-- Menu -->
							  <nav id="menu">
								<header class="major">
								  <h2>Menu</h2>
								</header>
								<ul>
								  <li><a href="/index">Homepage</a></li>
								  <li><a href="generic.html">My Blog</a></li>
								  <li><a href="elements.html">Personal Projects</a></li>
								  <li><a href="#">Team Projects</a></li>
								  <li><a href="#">Contact</a></li>
			  
								</ul>
							  </nav>
			  
							<!-- Section -->
							  <section>
								<header class="major">
								  <h2>Food for Thought</h2>
								</header>
								<div class="mini-posts">
								  <article>
									<p>"The essence of the independent mind lies not in what it thinks, but in how it thinks." - Christopher Hitchens</p>
								  </article>
								  <article>
									<p>Enlightenment is when we stop listening to the stories we tell ourselves about the world, and instead see the world for how it truly is, in it's raw form.</p>
								  </article>
								  <article>
									<p>"Technological progress has merely provided us with more efficient means for going backwards" – Aldous Huxley</p>
								  </article>
								</div>
								<ul class="actions">
								  <li><a href="#" class="button">More</a></li>
								</ul>
							  </section>
			  
							<!-- Section -->
							  <section>
								<header class="major">
								  <h2>Get in touch</h2>
								</header>
								<ul class="contact">
								  <li class="fa-envelope-o"><a href="#">elizabethslade23@gmail.com </a></li>
								  <li class="fa-envelope-o"><a href="#">emslade@hack4impact.org </a></li>
								  <li class="fa-home">Boston, MA</li>
								</ul>
							  </section>
			  
						  </div>
						  <a href="#sidebar" class="toggle"></a>
						</div>
			  
					</div>
			  

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>