<!DOCTYPE HTML>

<html>
	<head>
		<title>Keshav Maheshwari's Personal Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
							<header id="header">
								<a href="/" class="logo"><strong>Keshav Maheshwari's Personal Website</strong></a>
								<ul class="icons">
										<li><a href="https://github.com/keshavm02" class="fab fa-github fa-2x"><span class=" a label"></span></a></li>
										<li><a href="https://www.linkedin.com/in/keshavm02/" class="fab fa-linkedin fa-2x"><span class="a label"></span></a></li>
								</ul>
							  </header>
			  
							<!-- Banner -->
							  <section id="banner">
								<div class="content">
								  <header>
                                    <h1>Team Projects <br /></h1>
                                    <p>Software</p>
									</header>
										<dl>
											<dt>Hack4Impact- <b>GoBiz</b>: <a href="https://github.com/weirdindiankid/GoBiz"> See it here!</a></dt>
											<dd>
												<p>
													With a team, I am developing a free android app for Internation Labor Organization that fosters entrepreneurial skills through interactive 
													quizzes and gamified lessons. They intend to deploy the application for young thriving users in Cambodia who
													face challenges seeking entrepreneurship mentors and navigating the business environment.
												</p>	
											</dd>
											<dt> YHack project- <b>Ocubrowse</b>: <a href="https://github.com/Warren-Partridge/ocubrowse"> See it here!</a></dt>
											<dd>
												<p>
													At the Yale Hackathon 2018, I worked with a team to develop a website to display career development education material for a nonprofit.
													The nonprofit works with underprivileged students to help them discover their passions and career goals. 
													The website was built with Mongoose, MongoDB, JavaScript, Passport, Express, HTML, and CSS.
													
												</p>
											</dd>
											<!-- add more projects -->
										</dl>
									</div>
							  </section>
			  
						  </div>
						</div>
			  
					  <!-- Sidebar -->
						<div id="sidebar">
						  <div class="inner">
							<br>
							<br>
							<br>
							<!-- Menu -->
							  <nav id="menu">
								<header class="major">
								  <h2>Menu</h2>
								</header>
								<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="/blog">My Blog</a></li>
										<li><a href="/books">Books</a></li>
										<li><a href="/teamproj">Team Projects</a></li>
										<li><a href="/resume">Resume</a></li>
										<li><a href="/contact">Contact</a></li>
			  
								</ul>
                             </nav>
			  
						  </div>
						  <a href="#sidebar" class="toggle"></a>
						</div>
			  
					</div>
			  

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>