<!DOCTYPE HTML>

<html>
	<head>
		<title>Elizabeth Slade's Personal Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
							<header id="header">
								<a href="/" class="logo"><strong>Elizabeth Slade's Personal Website</strong></a>
								<ul class="icons">
										<li><a href="https://github.com/emslade23" class="fab fa-github fa-2x"><span class=" a label"></span></a></li>
										<li><a href="https://www.linkedin.com/in/elizabeth-slade-86670b122/" class="fab fa-linkedin fa-2x"><span class="a label"></span></a></li>
								</ul>
							  </header>
			  
							<!-- Banner -->
							  <section id="banner">
								<div class="content">
								  <header>
                                    <h1>Team Projects <br /></h1>
                                    <p>Software</p>
									</header>
										<dl>
											<dt>Hack4Impact Data Visualizations</dt>
											<dd>
												<p>
														I led a team of programmers to develop data visualizations for a nonprofit that helps victims of human trafficking.
														We used dc and d3 JavaScript libraries, and SQL Queries to develop the visuals on their CiviCRM-Drupal platform.
														The purpose of the visuals is to help the nonprofit find trends about the most common types of human trafficking based on age, gender, and location. 
														We also helped them find trends in victim cases based on the type of human trafficking the victim experienced, case length, gender, nationality, age of victim, and number of participants.
														
														
												</p>	
											</dd>
											<dt> Hack4Impact Education Platform: <a href="https://hidden-cliffs-75603.herokuapp.com/login"> See it here!</a></dt>
											<dd>
												<p>
													I worked with team to develop a website to display career development education material for a nonprofit.
													The nonprofit works with underprivileged students to help them discover their passions and career goals. 
													The website was built with Mongoose, MongoDB, JavaScript, Passport, Express, HTML, and CSS.
													
												</p>
											</dd>
											<dt>BURPG High Powered Rocket Competition </dt>
											<dd>
												<p>
													The goal for the project was to build a high powered rocket and to measure jolt expereinced by accelerometers
													wrapped in different materials. Jolt is the derivative of acceleration. In this project, I designed circuitry for connecting the Arduino, SD card, Altimeter, the battery, the electric matches and Accelerometers.  
													The circuit must detect the height reached by rocket and release the dual deployment parachute at the optimal time. I also
													programmed the Arduino to collect, store and interpret accelerometer data for payload mission.		
												</p>	
											</dd>
											<dt>AlphaBetter</dt>
											<dd>
												<p>A language learning Android Application. The app teaches the user the Russian and Greek alphabet through interactive quizzes, audio, and a tracing feature. 
													There is a practice mode and a quiz mode to facilitate learning.
												</p>
											</dd>
											<dt>Lamp Post Flood Detector</dt>
											<dd>
												<p>A project built for my engineering design course. The goal was to build a device that ensured safety during
													a natural disastor. A water level sensor detects rising water levels
													 and sends a wireless signal to a remote monitor station in the event of a flood. 
												</p>	
											</dd>
											<dt>Wollman and Slade</dt>
											<dd>
												<p>Matlab application design to optimze travel in the Boston area. 
													It collects user’s current location and destination to display best transportation costs, 
													travel time, and a map with routes 
												</p>
											</dd>
										</dl>
									</div>
							  </section>
			  
						  </div>
						</div>
			  
					  <!-- Sidebar -->
						<div id="sidebar">
						  <div class="inner">
							<br>
							<br>
							<br>
							<!-- Menu -->
							  <nav id="menu">
								<header class="major">
								  <h2>Menu</h2>
								</header>
								<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="/blog">My Blog</a></li>
										<li><a href="/personalproj">Personal Projects</a></li>
										<li><a href="/teamproj">Team Projects</a></li>
										<li><a href="/resume">Resume</a></li>
										<li><a href="/contact">Contact</a></li>
			  
								</ul>
                             </nav>
			  
						  </div>
						  <a href="#sidebar" class="toggle"></a>
						</div>
			  
					</div>
			  

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>